/* mobile responsiveness */
@media (max-width:768px){
 .image{
        width:170px;
        height:170px
    }
     .first{
         text-align:center;
         font-size:40px
    }
    .answer{
        width:50%;
        padding:0px 10px 5px 10px;
        border:none;
        border-bottom:2px solid black;
        outline:none
     }
     .button{
        padding:13px 25px 13px 25px;
        background-color:rgb(3, 3, 168);
        border:none;
        border-radius:5px;
        color:white
     }
     .button:hover{
        background-color:rgb(76, 76, 179)
     }
    .head{
        text-align:center;
        margin-top:20px
    }
    form{
        text-align:center
    }
    #paragraph{
        text-align:center;
    }
}
/* tablets */
@media (min-width:769px) and (max-width:992px){
  .image{
        width:170px;
        height:170px
    }
     .first{
         text-align:center;
         font-size:70px
    }
    .answer{
        width:60%;
        padding:0px 10px 5px 10px;
        border:none;
        border-bottom:2px solid black;
        outline:none
     }
     .button{
        padding:13px 27px 13px 27px;
        background-color:rgb(3, 3, 168);
        border:none;
        border-radius:5px;
        color:white
     }
     .button:hover{
        background-color:rgb(76, 76, 179)
     }
    .head{
        text-align:center;
        margin-top:20px;
        font-size:30px
    }
    form{
        text-align:center
    }
    #paragraph{
        text-align:center;
    }
}

/* Desktops */
@media (min-width:993px){
    .image{
        width:130px;
        height:130px
    }
     .answer{
        width:30%;
        padding:0px 10px 5px 10px;
        border:none;
        border-bottom:2px solid black;
        outline:none
     }
     .button{
        padding:13px 25px 13px 25px;
        background-color:rgb(3, 3, 168);
        border:none;
        border-radius:5px;
        color:white
     }
     .button:hover{
        background-color:rgb(76, 76, 179)
     }
    .first{
         text-align:center;
         font-size:40px
    }
    .head{
        text-align:center;
        font-size:24px
    }
    form{
        text-align:center
    }
    #paragraph{
        text-align:center;
    }
}