<!DOCTYPE html>
  <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         {% load static %}
        <link rel = "stylesheet" type = "text/css" href = "{% static 'decryp.css' %}">
        <link rel = "icon" type = "image/png" href = "{% static 'bold.png' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      
        <title> Decrypt Page</title>
    </head>

<body>

<h1>Decrypt Data</h1>

<div class = "First">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}


    <button type="submit" class = "but">Decrypt</button>


</form>
</div>

</body>
